@inherits Custom.Hybrid.RazorTyped
@using AppCode.Extensions.OpenMeteo

@{
  var ds = Kit.Data.GetSource<OpenMeteoCurrent>(
    parameters: new {
      Latitude = 47.3769,
      Longitude = 8.5417,
      Timezone = "auto",
      // TODO: THIS IS PROBABLY A BUG / NOT USED, PLS FIX
      Current = "temperature_2m,wind_speed_10m,weather_code"
    }
  );

  var item = AsItem(ds, propsRequired: false);
}

<h3>Open-Meteo Current</h3>

@if (item == null)
{
  <p>No data</p>
}
else
{
  <ul>
    <li>Time: @item.String("When")</li>
    <li>Temp: @item.Double("Temperature") °C</li>
    <li>Wind: @item.Double("WindSpeed")</li>
    <li>Code: @item.Double("WeatherCode")</li>
    <li>Lat/Long: @item.Double("Latitude"), @item.Double("Longitude")</li>
    <li>Timezone: @item.String("Timezone")</li>
  </ul>
}
