@inherits Custom.Hybrid.RazorTyped
@using System.Linq
@using AppCode.Extensions.OpenMeteo

@{
  var ds = Kit.Data.GetSource<OpenMeteoCurrent>(parameters: new {
    Latitude = 47.3769,
    Longitude = 8.5417,
    Timezone = "auto"
  });

  var item = AsItem(ds.List.FirstOrDefault(), propsRequired: false);
}

@if (item == null) { <p>No data</p> }
else {
  <ul>
    <li>Time: @item.String("When")</li>
    <li>Temp: @item.Double("Temperature") °C</li>
    <li>Wind: @item.Double("WindSpeed")</li>
    <li>Code: @item.Int("WeatherCode")</li>
    <li>Lat/Long: @item.Double("Latitude"), @item.Double("Longitude")</li>
    <li>Timezone: @item.String("Timezone")</li>
  </ul>
}
