@inherits Custom.Hybrid.RazorTyped
@using System.Linq
@using AppCode.Extensions.OpenMeteo

@* TODO: PLACE TEST FILES OUTSIDE OF EXTENSION *@

@* todo: create some tests without parameters, so see that it "just works" *@

@{
  var ds = Kit.Data.GetSource<OpenMeteoForecast>(
    parameters: new {
      Latitude = 47.3769,
      Longitude = 8.5417,
      Timezone = "auto",
      ForecastDays = 2,
      Hourly = "temperature_2m,weather_code,wind_speed_10m"
    }
  );

  var items = AsItems(ds).Take(24).ToList();
}

<h3>Open-Meteo Forecast (next @items.Count hours)</h3>

<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Temp (°C)</th>
      <th>Wind</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var i in items)
  {
    <tr>
      <td>@i.String("Time")</td>
      <td>@i.Double("Temperature")</td>
      <td>@i.Double("WindSpeed")</td>
      <td>@i.Double("WeatherCode")</td>
    </tr>
  }
  </tbody>
</table>
